.sidebarCotainer{
height: 100vh;
border-radius: 30px;
padding: 3px;
margin-top: 1vh;
margin-bottom: 1vh;
background-image: linear-gradient(to left top, #eeeeee, #f2f2f2, #f6f6f6, #fbfbfb, #ffffff);
background-image: linear-gradient(to left top, #eeeeee, #dedfeb, #c8d3e8, #adc7e5, #8cbde0);
background-image: linear-gradient(to left top, #eeeeee, #c7cad1, #9ca9b5, #6e8b95, #416d72);
background-image: linear-gradient(to left top, #eeeeee, #cac6c8, #aa9e9f, #877a73, #5e5a4c);
background-image: linear-gradient(to left top, #eeeeee, #dbd5d9, #ccbdbc, #b7a79c, #979580);
background-image: linear-gradient(to left top, #575522, #726e3f, #8d885c, #a9a37b, #c6bf9b, #c8c09c, #cac29d, #ccc39e, #b5aa7f, #9e9261, #877a44, #716328);
background-image: linear-gradient(to left top, #676758, #7c7b63, #918f6e, #a8a47a, #bfb985, #c1b886, #c2b886, #c4b787, #aea27d, #978d74, #80796a, #696661);
background-image: linear-gradient(to left top, #aa8da5, #bc99a4, #c6a8a7, #cbb8b0, #d0c8bf, #d4cfc8, #d9d6d1, #deddda, #e0dfdc, #e2e1de, #e4e3e0, #e6e5e2);
background-image: linear-gradient(to left top, #ca7084, #d68b87, #dda692, #e2c1a7, #e8dac4, #ece4d3, #f1eee2, #f8f8f2, #f8f8f3, #f8f8f4, #f8f8f5, #f8f8f6);
background-image: linear-gradient(to left top, #aca0a3, #d9bfbf, #e1ccc6, #e8dad0, #eee7dd, #f1ede4, #f4f2eb, #f8f8f2, #f8f8f3, #f8f8f4, #f8f8f5, #f8f8f6);
background-image: linear-gradient(to left top, #ffffff, #fefdfe, #fffbfc, #fff9f8, #fef8f4, #fcf8f3, #faf8f2, #f8f8f2, #f8f8f3, #f8f8f4, #f8f8f5, #f8f8f6);
}



@media screen and (max-width: 768px){
    .sidebarCotainer{
        width: 100vw;
    }
    .sidebarContainer{
        display: none;
    }
}